{% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </dd>
{% endmacro %}

{% macro render_review(review) %}
    <div class="card">
        {% if review.rating %}
        <div class="card-header">Rating: {{ review.rating }}</div>
        {% endif %}
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>"{{ review.review }}"</p>
                <footer class="blockquote-footer">
                    {{ review.name }}
                    {% if review.location %}
                    , {{ review.location }}
                    {% endif %}
                    {% if review.organization %}
                    , {{ review.organization }}
                    {% endif %}
                </footer>
            </blockquote>
        </div>
    </div>
{% endmacro %}
