{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<form method=post>
	<dl>
    {{ render_field(form.searchbar) }}
     {{ render_field(form.searchtype) }}
    <dl>
    <input type=submit value="Search" class="btn btn-primary">
</form>
<div class="mt-3">
    <p class="mt-3">Or check out some other interesting stuff:</p>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/highest_rated_movie">
            Highest Rated Movie
        </a>
        <a class="list-group-item list-group-item-action" href="/most_reviewed_movie">
            Most Reviewed Movie
        </a>
    </div>
</div>
{% endblock %}
