{% from "_formhelpers.html" import render_review %}
{% extends "base.html" %}
{% block content %}
<h1>{{ movie_info.name }}</h1>
<h3>Description: {{ movie_info.description }}</h3>
<h4>Release Date: {{ movie_info.releasedate }}</h4>
<h4>Duration: {{ movie_info.duration }} min.</h4>
<h4>MPAA Rating: {{ movie_info.mpaarating }}</h4>
{% if movie_info.budget != None %}
<h4>Budget: ${{ movie_info.budget }}</h4>
{% else %}
<h4>Budget: Unknown</h4>
{% endif %}
{% if genres_str %}
<h4>Genres: {{ genres_str }}</h4>
{% endif %}
{% for review in reviews %}
{{ render_review(review) }}
{% endfor %}
{% endblock %}
