{% from "_formhelpers.html" import render_review %}
{% extends "base.html" %}
{% block content %}
<h1>{{ movie_info.name }}</h1>
<h3>Description: {{ movie_info.description }}</h3>
<h4 class="text-secondary">Release Date: {{ movie_info.releasedate }}</h4>
<h4 class="text-secondary">Duration:
    {% if movie_info.duration %}
    {{ movie_info.duration }} min.
    {% else %}
    Unknown
    {% endif %}
</h4>
<h4 class="text-secondary">MPAA Rating:
    {% if movie_info.mpaarating %}
    {{ movie_info.mpaarating }}
    {% else %}
    Unknown
    {% endif %}
</h4>
{% if movie_info.budget != None %}
<h4 class="text-secondary">Budget: ${{ movie_info.budget }}</h4>
{% else %}
<h4 class="text-secondary">Budget: Unknown</h4>
{% endif %}
{% if genres_str %}
<h4 class="text-secondary">Genres: {{ genres_str }}</h4>
{% endif %}
{% if has_actors %}
<h4 class="text-info">Actors:</h4>
<ul>
    {% for actor in actors %}
    <li><a href={{ url_for('show_person_info', id_val=actor.id) }}>{{ actor.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<h4 class="text-primary">Average Reviewer Rating: {{ avg_reviewer_rating }}</h4>
{% if reviews %}
<div class="card-columns">
    {% for review in reviews %}
    {{ render_review(review, current_user) }}
    {% endfor %}
</div>
{% endif %}
<a class="btn btn-primary btn-lg btn-block mt-3 mb-3" href="{{ request.path }}/identify">Leave a review!</a>
{% endblock %}
