{% from "_formhelpers.html" import render_review %}
{% extends "base.html" %}
{% block content %}
<h1>Hello, {{ account_info.name.strip() }}!
    <small class="text-muted">Your critical score is {{ account_info.criticalscore }}.</small>
</h1>
<p class="text-secondary">Your account information:</p>
<ul class="list-unstyled text-secondary">
   <li class="list-group-item">Username: {{ account_info.username.strip() }}</li> 
   <li class="list-group-item">Location:
       {% if account_info.location %}
       {{ account_info.location.strip() }}
       {% else %}
       Unknown
       {% endif %}
   </li>
   <li class="list-group-item">Organization:
       {% if account_info.organization %}
       {{ account_info.organization.strip() }}
       {% else %}
       Unknown
       {% endif %}
   </li>
</ul>
{% if reviews|length != 0 %}
<div class="card-columns">
    {% for review in reviews %}
    {{ render_review(review, current_user) }}
    {% endfor %}
</div>
{% else %}
<h4>You have no reviews</h4>
{% endif %}
{% endblock %}
